<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template"
>
<head>
    <meta charset="UTF-8">
    <title>Patient</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css">
</head>
<body>
<div layout:fragment="content">
    <h1>Patients List</h1>
    <div class="row m-2">
        <form method="get" th:action="@{/patient}">
            <label>Key word</label>
            <input type="text" name="keyword" th:value="${keyword}">
            <button type="submit" class="btn btn-primary">Chercher</button>
        </form>
    </div>
    <div class="container">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>LastName</th>
                <th>FirstName</th>
                <th>Birthday</th>
                <th>Score</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="patient : ${patients}">
                <td th:text="${patient.getLastName()}"></td>
                <td th:text="${patient.getFirstName()}"></td>
                <td th:text="${patient.getDate_naissance()}"></td>
                <td th:text="${patient.getScore()}"></td>
                <td>
                    <a onclick="return confirm('Etes vous sure?')" class="btn btn-danger" th:href="@{patient/delete(id=${patient.id}, keyword=${keyword}, page=${currentPage})}">
                        Delete
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
        <ul class="nav nav-pills">
            <li th:each="page,status:${pages}">
                <a th:class="${status.index==currentPage?'btn btn-primary ms-1':'btn btn-outline-primary ms-1'}"
                   th:text="${status.index}"
                   th:href="@{/patient(page=${status.index}, keyword=${keyword})}"
                ></a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>
